<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="D:\HTTP_logging\www.mysite.com\nlog\" />

  <!-- ALL LOGGR BASED VARIABLES -->

  <!-- LOG KEYS (GET FROM LOGGR) -->
  <variable name="logkey" value="acuity" />
  <variable name="apikey" value="465703487fb541488de6a7882b8ffbf9" />

  <!-- LOGGR LOGGING PARAMETERS -->
  <variable name="text" value="${message}" />
  <variable name="tags" value="${level}" />
  <variable name="user" value="${identity:authType=false:isAuthenticated=false}" />
  <variable name="source" value="${machinename}" />
  <variable name="data" value="" />

  <!-- LOGGR EXCEPTION PARAMETERS -->
  <variable name="br" value="&lt;br/&gt;" />
  <variable name="+b" value="&lt;b&gt;" />
  <variable name="-b" value="&lt;/b&gt;" />
  <variable name="ex-text" value="${message}: ${exception}" />
  <variable name="ex-data" value="@html${newline}${+b}Exception:${-b} ${exception}${br}${br}${+b}Stack Trace:${-b}${stacktrace}" />

  <!-- NLOG TARGETS -->
  <targets>

    <target
      xsi:type="Console"
      name="myConsole"
      layout="${longdate} ${logger} ${uppercase:${level}} ${message}"
      footer=""
      header=""
      error="false" />

    <!--LOGGR TARGET-->
    <target xsi:type="FilteringWrapper" condition="length('${exception}')=0" name="LoggrEvent">
      <target xsi:type="WebService" name="Loggr-event" protocol="HttpPost" url="http://post.loggr.net/1/logs/${logkey}/events">
        <parameter layout="1" name="v" type="String" />
        <parameter layout="${apikey}" name="apikey" type="String" />
        <parameter layout="${text}" name="text" type="String" />
        <parameter layout="${source}" name="source" type="String" />
        <parameter layout="${user}" name="user" type="String" />
        <parameter layout="${tags}" name="tags" type="String" />
        <parameter layout="${data}" name="data" type="String" />
      </target>
    </target>

    <!---LOGGR EXCEPTION TARGET -->
    <target xsi:type="FilteringWrapper" condition="length('${exception}')&gt;0" name="LoggrException">
      <target xsi:type="WebService" name="Loggr-exception" protocol="HttpPost" url="http://post.loggr.net/1/logs/${logkey}/events">
        <parameter layout="1" name="v" type="String" />
        <parameter layout="${apikey}" name="apikey" type="String" />
        <parameter layout="${ex-text}" name="text" type="String" />
        <parameter layout="${source}" name="source" type="String" />
        <parameter layout="${user}" name="user" type="String" />
        <parameter layout="${tags}" name="tags" type="String" />
        <parameter layout="${ex-data}" name="data" type="String" />
      </target>
    </target>

  </targets>

  <rules>

    <!-- LOGGR RULE -->
    <logger minlevel="Info" name="*" writeto="Loggr-event, LoggrException, myConsole" />

  </rules>

</nlog>